* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: rgba(24,24,24,1);
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
}
body h2 {
  text-align: center;
}


.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
}
.under-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -40%);
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.content article {
  padding: 10px;
  margin: 10px;
}

.content h3 {
  text-align: center;
}

.leftpicture{

   width: 100%;
   height: auto;
}

.rightpicture{

   width: 100%;
   height: auto;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

.bild1{
  z-index: 5;
}

.bild2{
  z-index: 4;
}

@media screen and (max-width: 956px){
  .content{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .content article{
    border-bottom: 2px solid rgba(50,50,50,1);
  }

  .main-title{
    font-size: 3rem;
  }

  .under-title{
    font-size: 2rem;
    margin-top: 25px;
    transform: translate(-50%, -150%);
  }

  .content p{
    text-align: center;
  }
}
